html {
  background-color: rgb(225, 225, 225);
}
.main-container {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.first-row {
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
}
.second-row {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
#main {
  background-color: #6500bd;
  color: white;
  border: 2px solid #6500bd;
  padding: 10px;
  border-radius: 1rem;
}
#w3schools {
  background-color: #00a4bd;
  border: 2px solid #00a4bd;
  padding: 10px;
  border-radius: 1rem;
}

#stackoverflow {
  margin-left: 5px;
  background-color: #00a4bd;
  border: 2px solid #00a4bd;
  padding: 10px;
  border-radius: 1rem;
}
#geeksforgeeks {
  background-color: #00a4bd;
  border: 2px solid #00a4bd;
  padding: 10px;
  border-radius: 1rem;
}
#programiz {
  margin-left: 5px;
  background-color: #00a4bd;
  border: 2px solid #00a4bd;
  padding: 10px;
  border-radius: 1rem;
}
h1 {
  display: flex;
  justify-content: center;
  color: #00a4bd;
}
a {
  text-decoration: none;
color: #6500bd;
}
p {
  color: white;
}
