* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}


.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background: linear-gradient(#e34c26,#ebebeb);


}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background: linear-gradient(#474A8A,#B0B3D6);

}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background: linear-gradient(#ffffff,#264de4);

}
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background: linear-gradient(#323330,#F0DB4F);
 
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.button1{
  background:#e34c26;
  color:#fff;
  padding:10px 20px;
  border-radius:5px;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  display:inline-block;
  margin-top:10px;

}
.button2{
    background:#474A8A;
    color:#fff;
    padding:10px 20px;
    border-radius:5px;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    display:inline-block;
    margin-top:10px;
}

.button3{
  background:#264de4;
  color:#fff;
  padding:10px 20px;
  border-radius:5px;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  display:inline-block;
  margin-top:10px;
}

.button4{
  background:#323330;
  color:#fff;
  padding:10px 20px;
  border-radius:5px;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  display:inline-block;
  margin-top:10px;
  
}