body{
    background-color: black;
   }
   
   h2 {
    font-size: 3.5rem;
    font-weight: 300;
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5), -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.125), 0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.25);
}
   
   .tips{
       display: flex;
       justify-content: center;
   }
   
   p {
   color:aquamarine;
   }
   
   .container{
   display: flex;
   justify-content: space-evenly
   
   }
   
   .eerste{
   
   
   }
   
   .tweede{
   
   
   }